<!DOCTYPE html>
<html lang="en" data-theme="halloween" class="bg-base-300">
<head>
    <title> {% block title %} Название {% endblock %} </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
    <link rel="stylesheet" href=../static/css/films_styles.css>
    {% import "macros.html" as macros %}
</head>
<body>

<script type="text/javascript">
    let prevScrollPosition = window.scrollY;

    window.onscroll = function () {
        let currentScrollPosition = window.scrollY;
        if (prevScrollPosition > currentScrollPosition) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-80px";
        }
        prevScrollPosition = currentScrollPosition;
    }

    function goToMovie(movie_id) {
        location.href = "/movie/" + movie_id;
    }
</script>

<div id="navbar" class="transition-transform navbar fixed top-0 z-50 bg-base-100 md:px-20">
  <div class="navbar-start">
    <a class="btn btn-ghost normal-case text-xl px-10" href={{ url_for("main.main_page") }}>
        KiYES
    </a>
  </div>
  <div class="navbar-center flex">
    <ul class="menu menu-horizontal p-0">
      <li><a href={{ url_for("main.gallery") }}>Search</a></li>
      <li><a> My List </a></li>
      <li><a>Rating</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn btn-outline btn-primary min-h-0 h-9">Log in</a>
  </div>
</div>

<div class="main">
    {% block main %}
    {% endblock %}
</div>

<br>
<br>
<br>
<br>
<br>
</body>
</html>