{% extends "base.html" %}

{% block title %} Gallery {% endblock %}

{% block main %}
    <div class="flex flex-wrap justify-around">
        {% for i in range(len(movies)) %}
            {{ macros.render_movie(movies.loc[i], notna) }}
        {% endfor %}
        {% for i in range(len(movies)) %}
            {{ macros.render_movie(movies.loc[i], notna) }}
        {% endfor %}
        {% for i in range(len(movies)) %}
            {{ macros.render_movie(movies.loc[i], notna) }}
        {% endfor %}
        {% for i in range(len(movies)) %}
            {{ macros.render_movie(movies.loc[i], notna) }}
        {% endfor %}
    </div>
{% endblock %}