<!DOCTYPE html>

{% macro render_movie(movie, notna) %}

    <style>
        #m{{ movie['movie_id'] }} {
            background: url({{movie['movie_poster_url']}});
        }

        #m{{ movie['movie_id'] }}:hover {
            background: radial-gradient(
                    circle at 50% 120%,
                    rgb(12, 12, 12),
                    rgba(14, 14, 14, 0.97) 50%,
                    rgba(12, 12, 12, 0) 100%),
            url({{movie['movie_poster_url']}});
        }

        #m{{ movie['movie_id'] }} .hidden_info {
            display: none;
        }

        #m{{ movie['movie_id'] }}:hover .hidden_info {
            display: contents;
        }
    </style>

    <div id="m{{ movie['movie_id'] }}" class="my-card card-picture cursor-pointer"
         onclick="goToMovie({{ movie['movie_id'] }})">
        <div class="hidden_info">
            <h2 class="font-bold leading-10 text-gray-100 text-4xl text-center mb-2 mx-6">
                {{ movie['movie_name'] }}
            </h2>
            <h2 class="font-bold text-lg">{{ movie['movie_type_name'] }} {{ movie['movie_release_year'] }}</h2>

            <div class="card_description">
                {% if 'status_name' in movie.index and notna(movie['status_name']) %}
                    <p>{{ movie['status_name'] }}
                {% endif %}
                {% if 'user_list_movie_rating' in movie.index and notna(movie['user_list_movie_rating']) %}
                    {{ movie['user_list_movie_rating'] }}  </p>
                {% endif %}
            </div>

            <p class="card_apply">
                <a class="card_link" href="#"> <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>
{% endmacro %}

{% macro render_small_movie(movie, notna) %}

    <style>
        #s{{ movie['movie_id'] }} {
            background: url({{movie['movie_poster_url']}}) -60% 25%;
        }

        #s{{ movie['movie_id'] }}:hover {
            background: radial-gradient(
                    circle at 50% 120%,
                    rgb(12, 12, 12),
                    rgba(14, 14, 14, 0.7) 100%,
                    rgba(12, 12, 12, 0) 100%),
            url({{movie['movie_poster_url']}}) -60% 25%;
        }

        #s{{ movie['movie_id'] }} .hidden_info {
            display: none;
        }

        #s{{ movie['movie_id'] }}:hover .hidden_info {
            display: contents;
        }
    </style>

    <div id="s{{ movie['movie_id'] }}" class="card-small card-picture cursor-pointer">
        <div class="hidden_info">
            <a href="/movie/{{ movie['movie_id'] }}">
                <h2 class="font-bold leading-10 text-gray-100 text-4xl text-center mb-2 mx-6">
                    {{ movie['movie_name'] }}
                </h2>
            </a>

            <p class="card_apply">
                <label class="card_link cursor-pointer" for="ul{{ movie['movie_id'] }}">
                    {% if 'status_name' in movie.index and notna(movie['status_name']) %}
                        {{ movie['status_name'] }}
                    {% endif %}
                    {% if 'user_list_movie_rating' in movie.index and notna(movie['user_list_movie_rating']) %}
                        {{ movie['user_list_movie_rating'] }}
                    {% endif %}
                    <i class="fas fa-arrow-right"></i></label>
            </p>
        </div>
    </div>

    <input type="checkbox" id="ul{{ movie['movie_id'] }}" class="modal-toggle"/>
    <div class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">{{ movie['movie_name'] }}</h3>
            <p class="py-4">Change record for movie in your list</p>
            <div class="modal-action">
                <label for="ul{{ movie['movie_id'] }}" class="btn">Not Implemented Exception</label>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_rating(star) %}
    <div class="rating rating-md rating-half mb-5">
        <input type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-1"
                {% if star == 1 %}
               checked
                {% endif %}/>
        <input type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-2"
                {% if star == 2 %}
               checked
                {% endif %}/>
        <input type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-1"
                {% if star == 3 %}
               checked
                {% endif %}/>
        <input type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-2"
                {% if star == 4 %}
               checked
                {% endif %}/>
        <input type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-1"
                {% if star == 5 %}
               checked
                {% endif %}/>
        <input type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-2"
                {% if star == 6 %}
               checked
                {% endif %}/>
        <input type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-1"
                {% if star == 7 %}
               checked
                {% endif %}>
        <input type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-2"
                {% if star == 8 %}
               checked
                {% endif %}/>
        <input type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-1"
                {% if star == 9 %}
               checked
                {% endif %}/>
        <input type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-2"
                {% if star == 10 %}
               checked
                {% endif %}/>
    </div>
{% endmacro %}

{% macro render_disable_rating(star) %}
    <div class="rating rating-md rating-half mb-5">
        <input disabled type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-1"
                {% if star == 1 %}
               checked
                {% endif %}/>
        <input disabled type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-2"
                {% if star == 2 %}
               checked
                {% endif %}/>
        <input disabled type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-1"
                {% if star == 3 %}
               checked
                {% endif %}/>
        <input disabled type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-2"
                {% if star == 4 %}
               checked
                {% endif %}/>
        <input disabled type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-1"
                {% if star == 5 %}
               checked
                {% endif %}/>
        <input disabled type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-2"
                {% if star == 6 %}
               checked
                {% endif %}/>
        <input disabled type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-1"
                {% if star == 7 %}
               checked
                {% endif %}>
        <input disabled type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-2"
                {% if star == 8 %}
               checked
                {% endif %}/>
        <input disabled type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-1"
                {% if star == 9 %}
               checked
                {% endif %}/>
        <input disabled type="radio" name="rating-10" class="bg-primary mask mask-star-2 mask-half-2"
                {% if star == 10 %}
               checked
                {% endif %}/>
    </div>
{% endmacro %}

{% macro render_review_card(review) %}
    <div class="card card-side bg-base-100 shadow-xl w-[32rem] h-72">
        <figure class="h-72 w-full"><img class="h-72" src="{{ review['movie_poster_url'] }}" alt="Movie"/></figure>
        <div class="card-body">
            <a href="/movie/{{ review['movie_id'] }}">
                <h2 class="card-title">{{ review['movie_name'] }}</h2>
            </a>
            <p>{{ review['review'] }}</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary" id="rev{{ review['movie_id'] }}{{ review['user_id'] }}btn">К отзыву
                </button>
            </div>
        </div>
    </div>

    <dialog class="popup rounded-2xl" id="rev{{ review['movie_id'] }}{{ review['user_id'] }}">
        <div class="w-full h-full p-0" id="rev{{ review['movie_id'] }}{{ review['user_id'] }}body">
            <form class="flex flex-col" method="get">
                <div class="flex flex-col gap-4 my-7">

                    <div class="flex flex-row self-center max-w-3xl mb-16">
                        <img class="rounded-xl shadow-lg mx-3 self-start" src="{{ review['movie_poster_url'] }}"
                             alt="{{ review['movie_name'] }}">
                        <div class="flex flex-col px-5">
                            <div class="mb-5">
                                <a href="/movie/{{ review['movie_id'] }}">
                                    <h1 class="font-extrabold text-5xl mb-2">{{ review['movie_name'] }}</h1>
                                </a>
                                <h2 class="flex flex-row items-baseline">
                                    <span class="text-primary font-bold text-2xl">{{ review['user_login'] }}&nbsp</span>
                                    <span class="text-base">{{ review['review_date'] }}</span>
                                </h2>
                            </div>
                            <p class="mb-5">{{ review['review'] }}</p>
                        </div>
                    </div>

                </div>

                {#                <button class="btn btn-wide mb-2 mb-16" type="submit">Login</button>#}
            </form>
        </div>
    </dialog>

    <script type="text/javascript">
        const rev{{ review['movie_id'] }}{{ review['user_id'] }}btn = document.getElementById("rev{{ review['movie_id'] }}{{ review['user_id'] }}btn");
        rev{{ review['movie_id'] }}{{ review['user_id'] }}btn.addEventListener("click", () => rev{{ review['movie_id'] }}{{ review['user_id'] }}.showModal());
        const rev{{ review['movie_id'] }}{{ review['user_id'] }} = document.getElementById("rev{{ review['movie_id'] }}{{ review['user_id'] }}")
        rev{{ review['movie_id'] }}{{ review['user_id'] }}.addEventListener('click', () => rev{{ review['movie_id'] }}{{ review['user_id'] }}.close());
        const rev{{ review['movie_id'] }}{{ review['user_id'] }}body = document.getElementById('rev{{ review['movie_id'] }}{{ review['user_id'] }}body');
        rev{{ review['movie_id'] }}{{ review['user_id'] }}body.addEventListener('click', (event) => event.stopPropagation());
    </script>
{% endmacro %}