{% extends "base.html" %}

{% block title %} KinoMachine {% endblock %}

{% block main %}
    <div class="flex flex-col w-full border-opacity-100">
        <div class="w-full mb-5">
            <img class="" src="../static/img/hp.png" alt="Гарри Поттер">
        </div>

        {% if current_user.is_authenticated %}
            <div class="divider font-bold text-2xl px-10">Your list</div>
            <div class="carousel py-3 w-full">
                {% for i in range(len(movies)) %}
                    <div class="carousel-item mx-2">
                        {{ macros.render_small_movie(movies.loc[i], notna) }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="divider font-bold text-2xl px-10">Popular today</div>
        <div class="carousel py-3 w-full">
            {% for i in range(len(popular)) %}
                <div class="carousel-item mx-2" >
                    {{ macros.render_movie(popular.loc[i], notna) }}
                </div>
            {% endfor %}
        </div>

        <div class="divider font-bold text-2xl px-10">Latest reviews</div>
        <div class="carousel py-3 w-full">
            {% for i in range(len(reviews)) %}
                <div class="carousel-item mx-2" >
                    {{ macros.render_review_card(len, reviews.loc[i]) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}