{% extends "base.html" %}

{% block title %} KiYES {% endblock %}

{% block main %}
    <div class="flex flex-col w-full border-opacity-100">
        <div class="w-full mb-5">
{#            <img class="h-[30rem] w-full object-cover object-top mix-ble" src="https://i.amediateka.tech/resize/1920x960/_stor_/cms/content-contentasset/6/e4/1ca12222fe30f201c720f179e1f8e6e4-111637-fec1e613ef674327b6e104276bc89648.jpg" alt="Гарри Поттер">#}
            <img class="" src="../static/img/hp.png" alt="Гарри Поттер">
        </div>
        <div class="divider font-bold text-2xl px-10">Your list</div>
        <div class="carousel py-3 w-full">
            {% for i in range(len(movies)) %}
                <div class="carousel-item mx-2">
                    {{ macros.render_small_movie(movies.loc[i], notna) }}
                </div>
            {% endfor %}
        </div>
        <div class="divider font-bold text-2xl px-10">Popular today</div>
        <div class="carousel py-3 w-full">
            {% for i in range(len(movies)) %}
                <div class="carousel-item mx-2" >
                    {{ macros.render_movie(movies.loc[i], notna) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}