{% extends "base.html" %}

{% block title %} {{ movie['movie_name'] }} {% endblock %}

{% block main %}
    <div class="w-full flex justify-center pt-5 flex-col">
        <div class="flex flex-row self-center max-w-3xl mb-16">
            <img class="rounded-xl shadow-lg mx-3 self-start" src="{{ movie['movie_poster_url'] }}"
                 alt="{{ movie['movie_name'] }}">
            <div class="flex flex-col px-5">
                <div class="mb-5">
                    <h1 class="font-extrabold text-5xl mb-2">{{ movie['movie_name'] }}</h1>
                    <h2 class="font-bold text-xl">
                        ({{ movie['movie_type_name'] }} {{ movie['movie_release_year'] }})</h2>
                </div>
                {% if notna(movie['movie_rating']) %}
                    {{ macros.render_disable_rating(movie['movie_rating'] // 1) }}
                {% endif %}

                <p class="mb-5">{{ movie['movie_description'] }}</p>


                <div class="grid grid-cols-4 gap-2">

                    <p class="font-bold">Duration</p>
                    {% set hours = movie['movie_duration_minutes'] //  60 %}
                    {% if hours > 0 %}
                        <p class="col-span-3">{{ hours }}h {{ movie['movie_duration_minutes'] % 60 }}m</p>
                    {% else %}
                        <p class="col-span-3">{{ movie['movie_duration_minutes'] % 60 }}m</p>
                    {% endif %}

                    <p class="font-bold">Genres</p>
                    <p class="col-span-3">
                        {% set genre_count = len(genres) %}
                        {% for i in range(genre_count - 1) %}
                            <a> {{ genres.loc[i]['genre_name'] }}</a>,
                        {% endfor %}
                        <a>
                            {{ genres.loc[genre_count - 1]['genre_name'] }}
                        </a>
                    </p>
                    {% for crew_role in crew %}
                        <p class="font-bold">{{ crew_role }}</p>
                        <p class="col-span-3">
                            {% set role_count = len(crew[crew_role]) %}
                            {% for i in range(role_count - 1) %}
                                <a> {{ crew[crew_role][i][1] }}</a>,
                            {% endfor %}
                            <a>
                                {{ crew[crew_role][role_count - 1][1] }}
                            </a>
                        </p>
                    {% endfor %}

                </div>

            </div>
        </div>

        <div class="divider font-bold text-2xl px-10">Latest reviews</div>
        <div class="carousel py-3 w-full">
            {% for i in range(1, 6) %}
                <div class="carousel-item mx-2" >
                    {{ macros.render_review_card("Я отзыв " + "я отзыв я отзыв " * i) }}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}