{% extends "base.html" %}

{% block title %} {{ movie['movie_name'] }} {% endblock %}

{% block main %}
    <div class="w-full flex justify-center pt-5 flex-col">
        <div class="flex flex-row self-center max-w-3xl mb-16">
            <img class="rounded-xl shadow-lg mx-3 self-start" src="{{ movie['movie_poster_url'] }}"
                 alt="{{ movie['movie_name'] }}">
            <div class="flex flex-col px-5">
                <div class="mb-5">
                    <h1 class="font-extrabold text-5xl mb-2">{{ movie['movie_name'] }}</h1>
                    <h2 class="font-bold text-xl">
                        ({{ movie['movie_type_name'] }} {{ movie['movie_release_year'] }})</h2>
                </div>
                {% if notna(movie['movie_rating']) %}
                    {{ macros.render_disable_rating(movie['movie_rating'] // 1) }}
                {% endif %}

                <p class="mb-5">{{ movie['movie_description'] }}</p>


                <div class="grid grid-cols-4 gap-2">

                    <p class="font-bold">Duration</p>
                    {% set hours = movie['movie_duration_minutes'] //  60 %}
                    {% if hours > 0 %}
                        <p class="col-span-3">{{ hours }}h {{ movie['movie_duration_minutes'] % 60 }}m</p>
                    {% else %}
                        <p class="col-span-3">{{ movie['movie_duration_minutes'] % 60 }}m</p>
                    {% endif %}

                    <p class="font-bold">Genres</p>
                    <p class="col-span-3">
                        {% set genre_count = len(genres) %}
                        {% for i in range(genre_count - 1) %}
                            <a> {{ genres.loc[i]['genre_name'] }}</a>,
                        {% endfor %}
                        <a>
                            {{ genres.loc[genre_count - 1]['genre_name'] }}
                        </a>
                    </p>
                    {% for crew_role in crew %}
                        <p class="font-bold">{{ crew_role }}</p>
                        <p class="col-span-3">
                            {% set role_count = len(crew[crew_role]) %}
                            {% for i in range(role_count - 1) %}
                                <a> {{ crew[crew_role][i][1] }}</a>,
                            {% endfor %}
                            <a>
                                {{ crew[crew_role][role_count - 1][1] }}
                            </a>
                        </p>
                    {% endfor %}

                </div>

            </div>
        </div>

        <div class="flex flex-col self-center max-w-3xl mb-16">
            {% if current_user.is_authenticated %}
                <div class="divider font-bold text-2xl px-10">Your review</div>
                {% if user_review is not none %}
                    <div class="flex flex-row mt-2">
                        <div class="font-bold text-xl mx-3">
                            {{ user_review['status_name'] }}
                        </div>
                        {{ macros.render_disable_rating(user_review['user_list_movie_rating']) }}
                    </div>
                    <p class="mb-5">
                        {{ user_review['review'] }}
                    </p>
                    <label for="edit-review" class="btn btn-outline btn-primary">Edit</label>
                {% else %}
                    <label for="edit-review" class="btn btn-outline btn-primary">Add</label>
                {% endif %}
            {% endif %}
            <div class="divider font-bold text-2xl px-10 mt-7">Latest reviews</div>
            {% for i in range(len(reviews)) %}
                <div class="mx-2 my-3 self-center">
                    {{ macros.render_small_review_card(len, reviews.loc[i]) }}
                </div>
            {% endfor %}
        </div>
    </div>

    <input type="checkbox" id="edit-review" class="modal-toggle"/>
    <div class="modal">
        {% if user_review is not none %}
            <form class="modal-box" action="{{ url_for("main.edit_or_add_review") }}" method="post">
                <input type="hidden" name="movie_id" value="{{ movie['movie_id'] }}">
                <h3 class="font-bold text-lg">Edit Review</h3>
                <div class="flex flex-col">
                    <select name="status" class="select w-40 mt-3 mb-1">
                        <option {% if user_review['status_id'] == 0 %} selected {% endif %} value="0">Completed
                        </option>
                        <option {% if user_review['status_id'] == 1 %} selected {% endif %} value="1">Watching
                        </option>
                        <option  {% if user_review['status_id'] == 2 %} selected {% endif %} value="2">Plan to Watch
                        </option>
                        <option  {% if user_review['status_id'] == 3 %} selected {% endif %} value="3">Dropped
                        </option>
                    </select>
                    <div class="px-3">
                        {{ macros.render_rating(user_review['user_list_movie_rating']) }}
                    </div>
                    <label>
                    <textarea name="text" class="textarea textarea-warning w-full h-52"
                              placeholder="Describe your impressions...">{{ user_review['review'] }}</textarea>
                    </label>
                </div>
                <div class="flex flex-row modal-action">
                    <input class="btn btn-primary" type="submit" value="Save">
                    <label for="edit-review" class="btn btn-outline btn-primary">Cancel</label>
                </div>
            </form>
        {% else %}
            <form class="modal-box" action="{{ url_for("main.edit_or_add_review") }}" method="post">
                <input type="hidden" name="movie_id" value="{{ movie['movie_id'] }}">
                <h3 class="font-bold text-lg">Add Review</h3>
                <div class="flex flex-col">
                    <select name="status" class="select w-40 mt-3 mb-1">
                        <option value="0">Completed </option>
                        <option value="1">Watching </option>
                        <option value="2">Plan to Watch </option>
                        <option value="3">Dropped </option>
                    </select>
                    <div class="px-3">
                        {{ macros.render_rating(0) }}
                    </div>
                    <label>
                    <textarea name="text" class="textarea textarea-warning w-full h-52"
                              placeholder="Describe your impressions..."></textarea>
                    </label>
                </div>
                <div class="flex flex-row modal-action">
                    <input class="btn btn-primary" type="submit" value="Save">
                    <label for="edit-review" class="btn btn-outline btn-primary">Cancel</label>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}