{% extends "base.html" %}

{% block title %} {{ current_user.login }} {% endblock %}

{% block main %}
    {#    <div class="w-full flex justify-center pt-5 flex-col">#}
    <div class="w-full flex justify-center items-center pt-5 flex-col">

        <h1 class="font-extrabold text-5xl mb-7">{{ current_user.login }} list</h1>

        <div class="overflow-x-auto w-3/5">
            <table class="table w-full">
                <thead>
                <tr>
                    <th></th>
                    <th class="">Title</th>
                    <th class="w-1/5">Score</th>
                    <th class="w-1/5">Status</th>
                </tr>
                </thead>

                <tbody>

                {% for i in range(len(movies)) %}
                    <tr class="hover">
                        <th>{{ i + 1 }}</th>
                        <td><a href="/movie/{{ movies.loc[i]['movie_id'] }}">{{ movies.loc[i]['movie_name'] }}</a></td>
                        {% if notna(movies.loc[i]['user_list_movie_rating']) %}
                            <td>
                                <label class="card_link cursor-pointer" for="ul{{ movies.loc[i]['movie_id'] }}">
                                    {{ movies.loc[i]['user_list_movie_rating'] }}
                                </label>
                            </td>
                        {% else %}
                            <td>
                                <label class="cursor-pointer" for="ul{{ movies.loc[i]['movie_id'] }}">
                                    —
                                </label>
                            </td>
                        {% endif %}
                        {% if notna(movies.loc[i]['status_name']) %}
                            <td>
                                <label class="card_link cursor-pointer" for="ul{{ movies.loc[i]['movie_id'] }}">
                                    {{ movies.loc[i]['status_name'] }}
                                </label>
                            </td>
                        {% else %}
                            <td>
                                <label class="cursor-pointer" for="ul{{ movies.loc[i]['movie_id'] }}">
                                    —
                                </label>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    {% for i in range(len(movies)) %}
        <input type="checkbox" id="ul{{ movies.loc[i]['movie_id'] }}" class="modal-toggle"/>
        <div class="modal">
            <form class="modal-box w-64" action="{{ url_for("main.edit_or_add_review") }}" method="post">
                <input type="hidden" name="movie_id" value="{{ movies.loc[i]['movie_id'] }}">
                <h3 class="font-bold text-lg">{{ movies.loc[i]['movie_name'] }}</h3>
                <div class="flex flex-col">
                    <select name="status" class="select w-40 mt-3 mb-1">
                        <option {% if movies.loc[i]['status_id'] == 0 %} selected {% endif %} value="0">
                            Completed
                        </option>
                        <option {% if movies.loc[i]['status_id'] == 1 %} selected {% endif %} value="1">
                            Watching
                        </option>
                        <option {% if movies.loc[i]['status_id'] == 2 %} selected {% endif %} value="2">
                            Plan to Watch
                        </option>
                        <option {% if movies.loc[i]['status_id'] == 3 %} selected {% endif %} value="3">
                            Dropped
                        </option>
                    </select>
                    <div class="px-3">
                        {{ macros.render_rating(movies.loc[i]['user_list_movie_rating']) }}
                    </div>
                </div>
                <div class="flex flex-row modal-action">
                    <input class="btn btn-primary" type="submit" value="Save">
                    <label for="ul{{ movies.loc[i]['movie_id'] }}"
                           class="btn btn-outline btn-primary">Cancel</label>
                </div>
            </form>
        </div>
    {% endfor %}

{% endblock %}