body {
    margin: 0;
    padding: 0;
}
.main {
    /*Попробовать отдельно картинку в background image*/
    /*background:*/
    /*url("https://i.pinimg.com/originals/13/a6/6d/13a66d0143f8c6d02c130941f0a78392.jpg"),*/
    /*linear-gradient(#8a67ab, orangered);*/
    /*background-blend-mode: color;*/

    padding: 20px;
    display: flex;
}

html {
    /*background:*/
    /*linear-gradient(#b9b9b9, transparent),*/
    /*linear-gradient(to top left, #242424, transparent),*/
    /*linear-gradient(to top right, black, transparent);*/
    /*background-blend-mode: screen;*/
}

span {
    color: #ffffff;
}

/* CARDS */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: 445px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.04);
}

.card_link {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.card_link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
}

.card_link:hover::after {
    width: 100%;
}

.card_title {
    font-size: 32px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    word-break: break-word;
}

.card_description {
    display: flex;
    font-weight: 400;
    color: #ffffff;
    word-break: break-word;
}

.card_apply {
    align-self: center;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 30px;
}