<!DOCTYPE html>
<html lang="en">
<head>
    <title> {% block title %} Название {% endblock %} </title>
    <link rel="stylesheet" href=../static/films_styles.css>
    {% import "macros.html" as macros %}
</head>
<body>

<script type="text/javascript">
    let prevScrollPosition = window.scrollY;

    window.onscroll = function () {
        let currentScrollPosition = window.scrollY;
        if (prevScrollPosition > currentScrollPosition) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-80px";
        }
        prevScrollPosition = currentScrollPosition;
    }
</script>

<div id="navbar">
    <div class="logo">
        <p class="nav_button"> Kino </p>
    </div>
    <div class="tabs">
        <p class="nav_button">Поиск</p>
        <p class="nav_button">Мой список</p>
        <p class="nav_button">Рейтинг</p>
    </div>
    <div class="account">
        <p class="nav_button">MyName</p>
    </div>
</div>

<div class="main">
    {% block main %}
    {% endblock %}
</div>

<br>
<br>
<br>
<br>
<br>
</body>
</html>